<div class="container">

  <h1><%= @user.first_name %> <%= @user.last_name %></h1>

  <h3>Favorites:</h3>
    <% if @favorites.empty? %>
      <h4>They ain't got no favorites</h4>
      <img src="http://i.imgur.com/Xl8pjnl.gif">
    <% else %>
        <% @favorites.each do |favorite| %>

        <div class="favorites" style = "width: 240px;" >
          <p>
            <a href="/spots/<%= favorite.spot_id %>">
              <%= Spot.find_by(id: favorite.spot_id).name %>
            </a>
          </p>
            <%= Spot.find_by(id: favorite.spot_id).script %>
        </div>

      <% end %>
    <% end %>
</div>
